@layer base {
  body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3edd4;
    color: #222222;
  }

  button {
    cursor: pointer;
  }
}